body{
    width: 100vw;
    background-color: #901710;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.page1{
    background-image: url(img/fabric-7.jpg);
    width: 100vw;
    background-size: 30vw;
    display: flex;
}
.page1-1{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 40px;
    justify-content: center;
    padding-left: 75px;
    width: 65vw;
}
.logo{
    height: 125px; 
    display: flex;
    border-radius: 999px;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    background-color: #901710;   
}
.logo-logo{
    padding: 10px;
    background-color: #9B1F1A;
    border-radius: 999px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    width: 100px;
}
.logo-text{
    font-family: Cookie;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 71px;
    text-align: center;
    color: #D85750;
    margin: 25px;
    margin-left: 40px;
    margin-right: 50px;
}
.main_text{
    font-family: Paytone One;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 100px;
}
.splide{
    width: 80%;
    margin-top: 100px;
}
.splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.splider-background{
    background: rgba(144, 23, 16, 0.5);
    mix-blend-mode: darken;
    width: 100%;
    height: 100%;
    position: absolute;
}
.page1-2{
    background-color: #901710;
    display: flex;
    flex-flow: column;
    width: 35vw;
    height: 100vh;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.25);
}
.tel{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #FFF;
}
.tel-a{
    font-family: Paytone One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    padding: 30px;
    background-color: #75140F;
    border-radius: 60px;
}
.info_of_pizza{
    height: calc(70% - 100px);
    font-family: Cookie;
    color: #FFF;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
}
.name_of_pizza{
    font-size: 64px;
}
.slices_of_pizza{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.sl-border{
    height: 52px;
    border: 1px dashed #FFFFFF;
}
.slp-price{
    font-family: Paytone One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    margin: 10px;
}
.slp-img{
    margin: 10px;
    filter: invert(1);
}
.slp{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px;
}
.slp-plus{
    margin: 10px;
    cursor: pointer;
}
.slp2{
    display: flex;
    align-items: center;
}
.order_now{
    background-color: #05A986;
    font-family: Paytone One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.75);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0 solid #FFF;
}
.menu{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-image: url(img/fabric-7.jpg);
    height: 125px;
    align-items: center;
    background-size: 30vw;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.25);
}
.menu a{
    font-family: Paytone One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    color: #75140F;
    z-index: 10;
}
.menu-background{
    background: rgba(144, 23, 16, 0.5);
    width: 100%;
    height: 125px;
    mix-blend-mode: darken;
    position: absolute;
    left: 0;
    z-index: 0;
}
.description{
    display: flex;   
    flex-wrap: wrap;
}
.pizza{
    margin: 100px;
    width: calc(50% - 200px);
    color: rgba(255, 255, 255, 0.75);
    font-family: Cookie;
    font-size: 36px;
}
.pizza h1{
    color: #FFF;
}
.slp3-1{
    padding-right: 0;
    margin-right: 0;
}
.slp-1-1{
    padding-left: 0;
    margin-left: 0;
}

@media screen and (max-width: 1700px) {
    .page1{
        flex-flow: column;
        align-items: center;
    }
    .page1-1{
        align-items: center;
    }
    .page1-2{
        width: 100vw;
    }
}
@media screen and (max-width: 1000px) {
    .splide{
        width: 100vw;
    }
    .page1-1{
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (orientation: portrait) {
    .splide__slide{
        height: 300px;
    }
    .logo-text{
        display: none;
    }
    .main_text{
        text-align: center;
    }
    .tel-a{
        text-align: center;
        font-size: 24px;
    }
    .name_of_pizza{
        text-align: center;
    }
    .menu{
        flex-flow: column;
        height: 300px;
    }
    .menu-background{
        height: 300px;
    }
    .pizza{
        padding: 15px;
        margin: 0;
        width: auto;
    }
    .description{
        flex-flow: column;
    }
}